<!DOCTYPE html>
<html>

<head>
  <title>Bigfoot Sightings (Error)</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container mt-4">
    <%- include('./partials/navigation.ejs') %>
    
    
  </div>
</body>

</html>